.app-Downlode{
    margin:auto auto;
    margin-top: 100px;
    font-size: max(3vw ,20px);
    text-align: center;
    font-weight: 500px;
}
.app-downlode-icons{
    display: flex;
    justify-content: center;
    gap:max(2vw ,10px);
    margin-top: 40px;

}
.app-downlode-icons img{
    width:max(30vw,120px);
    max-width: 170px;
    transition: 0.6s;
    cursor: pointer;
}

.app-downlode-icons img:hover{
    transform:scale(1.05);

}

