.card{
    margin: 100px;
}
.card-item-title{
    display:grid;
    grid-template-columns:1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color:gray;
    font-size:max(1vw,12px);
    font-weight: 500;
}
.card-item-1{
    margin:10px 0px;
    color:black;
}
.card-item-1 img{
    width:50px;
}

.card hr{
    height: 1px;
    background-color: #e2e2e2;
    border:none;
}
.card-item-1 .cross{
    cursor: pointer;
}

.card-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap:max(12vw,20px)
}
.card-totle{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.card-total-details{
    display:flex;
    justify-content: space-between;
    color:#555;

}
.card-totle hr{
    margin:10px 0px;
}
.card-totle button{
    border: none;
    color:white;
    background-color: tomato;
    width:max(15vw,200px);
    padding:12px 0px;
    border-radius: 5px;
    cursor: pointer; 
}


.card-promocode{
    flex:1;
}
.card-promocode p{
    color:#555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}
.cart-promocode-input  input{
    background:transparent;
    border:none;
    outline:none;
    padding:10px;
}

.cart-promocode-input button{

    border: none;
    color:white;
    background-color: green;
    width:max(15vw,200px);
    padding:12px 0px;
    border-radius: 5px;
    cursor: pointer; 
}

@media(max-width:750px){
    .card-bottom{
        flex-direction: column-reverse;
    }
    .card-promocode{
        justify-content:start;
    }
}