.header{
    height: 34vw;
    margin:30px auto;
    background:url('/src/asset/header_img.png') no-repeat;
    position:relative;
    background-size:contain ;

}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:1.5vw;
    align-items: start;
    max-width:50%;
    bottom:10%;
    left:6vw;
    animation:fadeIn 3s;



}
.header-content h2{
    font-weight: 500;
    color:white;
    font-size:max(4.5vw , 22px);
}
.header-content p{
    color:white;
    font-size:1vw;
}
.header-content button{
    border:none;
    color:#747474;
    font-weight: 500;
    padding:1vw 2.3vw;
    border-radius: 50px;
    background-color: white;
    font-size:max(1vw, 13px);
}

@media (max-width:1050px){
    .header{
        height:38vw;
    }
    .header-content{
        max-width:45%;
    }

}

@media (max-width:750px){
    .header-content{
        max-width: 55%;;
    }
    .header-content p{
        display:none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }

}